<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{#if logged_in}}
    <header>
      <nav class="form-control">
        <p> Welcome {{user.name}} | <a href="/">Home</a> | 
        <button id="logout" class="no-button">Logout</button></p>
      </nav>
     
        <div>
            <h1>Tech Blog</h1>
        </div>

    </header>
    {{/if}} 
    <main>
      <!-- Render from handlebars subparts -->
      {{{ body }}}
    </main>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
