<div class="blog-page">
<div>
    <nav>
      <ul>
        <li class="post active">
          <a href="/" id="yourPostBtn">Your Posts</a>
        </li>

        <li class="post">
          <a href="/addPost" id="newPostBtn">New Post</a>
        </li>
      </ul>
    </nav>
</div>
 
 <div id="newPost">
    <div>
      <div>
        <h2>Create a New Post</h2><br>
      </div>
    </div>
    <form class="new-post-form">
      <div>
        <input class="login-input form-control" type="text" id="post-name" name="post-name" placeholder="Post Title" />
      </div>
      <div>
        <textarea class="input-box form-control" id="post-desc" name="post-desc" placeholder="Post Body" ></textarea>
      </div>
      <div>
        <button class="login-button" type="submit">Create</button>
      </div>
    </form>
</div>

</div>

<script src="./js/post.js"></script>