<div class="login-page"> 
    <form class="signup-form">
      <h2>Sign Up</h2> 
      <div>
        <input class="login-input" type="text" id="name-signup" placeholder="Name"/>
      </div>
      <div>
        <input class="login-input" type="text" id="email-signup" placeholder="Email"/>
      </div>
      <div>
        <input class="login-input" type="password" id="password-signup" placeholder="Password"/>
      </div>
      <div>
        <button class="login-button" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
  
<script src="./js/signup.js"></script>
